/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

body {
    width: 100%;
    min-width: 500px;
}

#profile {
    width: 100%;
    appearance: none;
}

.button-bar {
    text-align: center;
}

.button-bar > button {
    margin-bottom: 0.2rem;
}

.color-output {
    border: 1px solid var(--border-color);
    width: 5em;
    height: 1em;
    border-radius: 0.35rem;
}

.help-row {
    color: var(--text-color) !important;
}

.hide {
    display: none !important;
}

#grantPermissionError > .message-bar {
  max-width: 500px;
  width: 80%;
  margin: auto;
}

#whatsnew {
  position: relative;
  cursor: pointer;
}

#whatsnew > div {
  background: var(--primary-color-1);
  position: absolute;
  top: -0.2em;
  right: -0.2em;
  border-radius: 1em;
  width: 0.35em;
  height: 0.35em;
}

#whatsnew > img {
  width: 1em;
  height: 1em;
}

button.icon > div > img {
    width: 1em;
    height: 1em;
    flex: 1;
    margin-right: 0.5em;
  }
  
  button.icon > div {
    display: inline-flex;
    width: max-content;
    align-items: center;
  }
  
  button.secondary.icon > div > img,
  img.icon-text-color {
    filter: invert(2%) sepia(2%) saturate(2394%) hue-rotate(202deg) brightness(99%) contrast(95%);
  }
  
  button.default.icon > div > img {
    filter: invert(100%);
  }

  body.local-file .url-only,
  body:not(.local-file) .local-file-only {
    display: none !important;
  }

  body:not(.firefox) .firefox-only,
  body:not(.chromium) .chromium-only {
    display: none !important;
  }
  
  @media (prefers-color-scheme: dark) {
    button.secondary.icon > div > img,
    img.icon-text-color {
      filter: invert(94%) sepia(3%) saturate(44%) hue-rotate(197deg) brightness(104%) contrast(98%);
    }
    
    button.default.icon > div > img {
      filter: invert(100%);
    }
  }