/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

body {
    min-width: 500px;
    width: 100%;
}

#profile {
    appearance: none;
    width: 100%;
}

.button-bar {
    text-align: center;
}

.button-bar > button {
    margin-bottom: 0.2rem;
}

.color-output {
    border: 1px solid var(--border-color);
    border-radius: 0.35rem;
    height: 1em;
    width: 5em;
}

.help-row {
    color: var(--text-color) !important;
}

.hide {
    display: none !important;
}

#grantPermissionError > .message-bar {
    margin: auto;
    max-width: 500px;
    width: 80%;
}

#whatsnew {
    cursor: pointer;
    position: relative;
}

#whatsnew > div {
    background: var(--primary-color-1);
    border-radius: 1em;
    height: 0.35em;
    position: absolute;
    right: 0.1em;
    top: 0.1em;
    width: 0.35em;
}

#whatsnew > img {
    height: 1em;
    width: 1em;
    animation: bounce 2s infinite;
}

button.icon > div > img {
    flex: 1;
    height: 1em;
    margin-right: 0.5em;
    width: 1em;
}

button.icon > div {
    align-items: center;
    display: inline-flex;
    width: max-content;
}

button.secondary.icon > div > img,
img.icon-text-color {
    filter: invert(2%) sepia(2%) saturate(2394%) hue-rotate(202deg) brightness(99%) contrast(95%);
}

button.default.icon > div > img {
    filter: invert(100%);
}

body.local-file .url-only,
body:not(.local-file) .local-file-only,
body:not(.firefox) .firefox-only,
body:not(.chromium) .chromium-only {
    display: none !important;
}

button.icon-only {
    min-width: 0 !important;
}

button.icon-only img {
    margin-right: 0 !important;
}

button.icon-only span {
    width: 0 !important;
    overflow: hidden !important;
    visibility: hidden !important;
    white-space: nowrap !important;
}

.dim {
    opacity: 0.5;
}

.fixed-option {
    font-style: italic;
}

@keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-0.5em);
    }
    60% {
        transform: translateY(-0.3em);
    }
}

@media (prefers-reduced-motion) {
    *,
    .collapse-header::after {
        transition: none !important;
    }

    #whatsnew > img {
        animation: none !important;
    }
}

@media (prefers-color-scheme: dark) {
    button.secondary.icon > div > img,
    img.icon-text-color {
        filter: invert(94%) sepia(3%) saturate(44%) hue-rotate(197deg) brightness(104%) contrast(98%);
    }

    button.default.icon > div > img {
        filter: invert(100%);
    }
}
