/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

#saveWarning.saved .warning,
#saveWarning.unsaved .success {
    display: none !important;
}

.message-bar.private {
    background-color: #8D20AE;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="white" d="M12.408 11.992c-1.663 0-2.813-2-4.408-2s-2.844 2-4.408 2C1.54 11.992.025 10.048 0 6.719c-.015-2.068.6-2.727 3.265-2.727S6.709 5.082 8 5.082s2.071-1.091 4.735-1.091 3.28.66 3.265 2.727c-.025 3.33-1.54 5.274-3.592 5.274zM4.572 6.537c-1.619.07-2.286 1.035-2.286 1.273s1.073.909 2.122.909 2.286-.384 2.286-.727a1.9 1.9 0 0 0-2.122-1.455zm6.857 0a1.9 1.9 0 0 0-2.123 1.455c0 .343 1.236.727 2.286.727s2.122-.671 2.122-.909-.667-1.203-2.286-1.273z"></path></svg>');
    padding-bottom: 6px;
    padding-top: 6px;
    padding-right: 6px;
}

.message-bar.private * {
    color: white !important;
}

.message-bar.private a {
    font-weight: bold;
    text-decoration: none;
    border-radius: 0.15rem;
    min-width: 8.8rem;
    display: inline-block;
    padding: 0.5em;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
}

.message-bar.private a:hover {
    background: rgba(255, 255, 255, 0.4);
}

.message-bar.private a:active {
    background: rgba(255, 255, 255, 0.6);
}

.hide {
    display: none !important;
}

.error {
    color: red;
}

#framesInheritGrantPermission {
    cursor: pointer;
}

#preview {
    height: 100px;
    resize: none;
    width: 50%;
    opacity: 1 !important;
    cursor: default !important;
}

.image-helper {
    align-items: center;
    display: flex;
}

.image-helper label {
    flex: 1;
}

.image-helper img {
    flex: unset !important;
    margin-right: 1em;
    width: 20px;
}

/* Color picker */
.IroWheel {
    cursor: crosshair !important;
}

.IroSlider {
    cursor: ns-resize !important;
}

.colorPickerPreview {
    background: rgba(0, 0, 0, 0) conic-gradient(rgb(204, 204, 204) 25%, rgb(255, 255, 255) 0deg, rgb(255, 255, 255) 50%, rgb(204, 204, 204) 0deg, rgb(204, 204, 204) 75%, rgb(255, 255, 255) 0deg) repeat scroll 0% 0% / 8px 8px;
    display: flex;
}

.colorPickerPreviewContainer {
    display: flex;
}

.colorPickerPreviewContainer > * {
    flex: 1;
}

.colorPickerValues tr td:first-of-type {
    width: 100%;
}

.rgb,
.hsv,
.hex {
    display: none;
}

.showHEX .hex,
.showRGB .rgb,
.showHSV .hsv {
    display: block;
}

.panel-section-footer > div {
    border-left: 1px solid var(--border-color);
    padding: 0.5em;
    text-align: center;
}

.panel-section-footer > div:first-of-type {
    border: none;
}

#customWidthValue {
    height: unset !important;
    text-align: center;
    width: 4em;
}

body:not(.firefox) .firefox-only,
body:not(.chromium) .chromium-only {
    display: none !important;
}

#customWidthUnit {
    height: unset !important;
    text-align: center;
}

#customWidthValue:disabled,
#customWidthUnit:disabled {
    background-color: var(--body-background);
    border-color: var(--grey-30);
    cursor: default;
    opacity: 0.7;
}

#thumbRadius-container {
    align-items: center;
    display: flex;
}

#thumbRadius-container > span {
    margin-right: 0.5em;
}

#thumbRadius-container > input {
    min-width: 15vw;
}

/* Fail safe for settings page */
body::-webkit-scrollbar {
    max-width: 50vw !important;
    max-height: 50vh !important;
}

#profileSelection {
    margin-bottom: 0.5em;
    width: 100%;
}

#dialog > .dialog-container > section > div {
    display: none;
    margin: auto;
    width: max-content;
}

#dialog .dialog-footer {
    display: none;
}

#dialog .dialog-footer > button:first-of-type {
    margin-left: auto;
}

#dialog #dialog-input-container,
#dialog #dialog-dropdown-container {
    align-items: center;
    box-sizing: border-box;
    display: none;
    margin-bottom: 1em;
    width: 100%;
}

#dialog #dialog-input-container > input,
#dialog #dialog-dropdown-container > select {
    flex: 1;
    margin: 0.5rem;
}

#dialog #dialog-input-container > label,
#dialog #dialog-dropdown-container > label,
#dialog #dialog-checkbox-container > label {
    margin-right: 1em;
}

#dialog button {
    margin: 0 0.1em;
}

#dialog #dialog-error {
    color: red;
    display: block;
    margin-bottom: 1em;
    text-align: left;
}

#dialog #dialog-checkbox-container {
    margin-bottom: 1em;
    width: 100%;
}

.dialog.confirmation .confirmation-only,
.dialog.prompt .prompt-only,
.dialog.popup .popup-only,
.dialog.dropdown .dropdown-only,
.dialog.ruleadd .ruleadd-only {
    display: flex !important;
}

.ruleadd #rule-preview,
.dropdown #rule-preview {
    display: block !important;
    min-width: max-content;
    width: 100% !important;
}

#dialog.ruleadd,
#dialog.dropdown {
    width: 100% !important;
}

.color-output {
    border: 1px solid var(--border-color);
    border-radius: 0.35rem;
    height: 1em;
    width: 5em;
}

.restore-section {
    text-align: right;
}

#restore-file-name {
    display: inline-block;
    margin-bottom: 1em;
}

#rule-list {
    max-height: 450px;
    overflow-y: auto;
}

#rule-list .text {
    display: flex;
    align-items: center;
}

#rule-list .text .rule-domain {
    flex: 1;
    margin-left: 0.5em;
}

#rule-list .text-shortcut > label {
    color: var(--text-color);
    margin-right: 1em;
}

#rule-list > .panel-list-item {
    margin: 0.2em 0;
}

#rule-list .profile-missing {
    color: red !important;
}

.help-row {
    color: var(--text-color) !important;
}

a:visited,
a.visited {
    color: var(--primary-color-1) !important;
}

.browser-style a:visited:active,
.browser-style a:visited.active,
.browser-style a:visited.pressed,
.browser-style a.visited:active,
.browser-style a.visited.active,
.browser-style a.visited.pressed {
    color: var(--primary-color-3) !important;
}

button.icon > div > img {
    flex: 1;
    height: 1em;
    margin-right: 0.5em;
    width: 1em;
}

#button-removeFile > div > img {
    margin-right: 0 !important;
}

button.icon > div {
    align-items: center;
    display: inline-flex;
    width: max-content;
}

button.secondary.icon > div > img,
img.icon-text-color {
    filter: invert(2%) sepia(2%) saturate(2394%) hue-rotate(202deg) brightness(99%) contrast(95%);
}

button.default.icon > div > img {
    filter: invert(100%);
}

.collapse-header {
    cursor: pointer;
}

.collapse-header:focus {
    box-shadow: 0 0 0 0.05rem var(--focus-color) inset, 0 0 0 0.05rem var(--focus-color), 0 0 0 0.2rem var(--focus-color-fade);
}

.collapse-header::after {
    background-image: var(--down-icon);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 1em;
    transition: transform 0.2s ease;
    width: 1em;
}

.collapse-header[data-collapsible-state="close"]::after {
    transform: rotate(0deg);
}

.collapse-header[data-collapsible-state="open"]::after {
    transform: rotate(180deg);
}

.collapse-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease;
}

#only-not-scrollbar {
    text-align: center;
    font-size: 90%;
}

#only-not-scrollbar .panel-section {
    width: 80%;
    opacity: 0.7;
}

#only-not-scrollbar .panel-section p:first-of-type {
    font-weight: bold;
    font-size: 120%;
}

#feedbacklink {
    cursor: pointer;
}

#whatsnew,
#whatsnewlink {
    cursor: pointer;
    position: relative;
}

#whatsnew > div,
#whatsnewlink > div {
    background: var(--primary-color-1);
    border-radius: 1em;
    height: 0.35em;
    position: absolute;
    width: 0.35em;
}

#whatsnew > div {
    right: 0.1em;
    top: 0.1em;
}

#whatsnewlink > div {
    right: -0.2em;
    top: -0.2em;
}

#whatsnew > img {
    height: 1em;
    width: 1em;
    animation: bounce 2s infinite;
}

.header-button-container {
    display: flex;
    align-items: center;
}

.dim {
    opacity: 0.5;
}

.fixed-option {
    font-style: italic;
}

@keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-0.5em);
    }
    60% {
        transform: translateY(-0.3em);
    }
}

@media (prefers-reduced-motion) {
    *,
    .collapse-header::after {
        transition: none !important;
    }

    #whatsnew > img {
        animation: none !important;
    }
}

@media (prefers-color-scheme: dark) {
    button.secondary.icon > div > img,
    img.icon-text-color {
        filter: invert(94%) sepia(3%) saturate(44%) hue-rotate(197deg) brightness(104%) contrast(98%);
    }

    button.default.icon > div > img {
        filter: invert(100%);
    }
}
