/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.no-custom-colors .only-colors {
    display: none !important;
}

.picker_wrapper {
    background: none !important;
    box-shadow: none !important;
}

.picker_wrapper * {
    font-size: 10px !important;
}

.picker_wrapper .picker_selector {
    background: none !important;
}

.picker_wrapper .picker_done {
    display: none !important;
}

.picker_wrapper .picker_editor input {
    font-size: 15px !important;
}

#saveWarning.saved .warning,
#saveWarning.unsaved .success {
    display: none !important;
}
